@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";
@import "./base/layout.css";

/* @import "./components/buttons.css"; */
@import "./components/hero.css";
@import "./components/sections.css";
/* @import "./components/section-text.css";
@import "./components/section-howto.css";
@import "./components/section-form.css"; */

@import "./themes/theme-dark.css";
@import "./themes/theme-light.css";
