---
const { theme = "light" } = Astro.props;

// normalisierte Klassen
const bodyClass = [
  "huon",
  "huon-root",
  theme === "dark" ? "dark-theme" : "light-theme",
].join(" ");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/src/styles/main.css" />

    <meta name="generator" content={Astro.generator} />
    <title>Aera360</title>
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
